.entry-content img.alignright,
.entry-content .wp-caption.alignright {
  margin-right: 0;
}

.alignright {
  float: right;
}

.legacycontentgal p {
  margin-bottom: 30px;
}

.legacycontentgal table {
  border: 1px solid;
  border-collapse: collapse;
}

.legacycontentgal th {
  border: 1px solid;
}

.legacycontentgal td {
  border: 1px solid;
  padding: 8px 8px 8px 8px;
}

.dark .legacycontentgal table {
  border-color: '#dfdfdf';
}

.dark .legacycontentgal a:not([data-vc-accordion]) {
  color: #41ffca;
}

.dark a[data-vc-accordion] {
  color: #ffffff;
}
a[data-vc-accordion] {
  font-size: 24px;
  font-weight: 600;
}

.legacycontentgal .legacy-subheading {
  font-size: 20px;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 12px;
  line-height: 1.4;
}

.legacycontentgal .legacy-subheading-sm {
  font-size: 18px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 8px;
  line-height: 1.4;
}
